section {
  background-color: var(--background-1);

  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

}

section .background {
  position: absolute;

  top: 0;
  right: 0;

}

section .bloco .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin-bottom: 65px;

}

section .bloco .inputs {
  width: auto;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

section .bloco .inputs .input {
  width: 354px;
  height: 63px;

  margin-bottom: 15px;

  opacity: 1;

  top: 373px;
  left: 37px;

  border-radius: 32px;

  background-color: var(--background-2);

  box-shadow: 0px 3px 7.5px 0px #0000000D;

  display: flex;
  align-items: center;
  justify-content: center;

}

section .bloco .inputs .input input {
  padding: 0px 20px;

  width: calc(100% - 64px);
  height: 27px;

  color: var(--font-color-2);

  font-family: var(--font-family-Poppins);
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;

  border: 0;

  outline: none;

}

section .bloco .enviar {
  margin-top: 47px;

  width: 354px;
  height: 59px;
  opacity: 1;
  border-radius: 32px;

  background-color: var(--background-3);

  box-shadow: 0px 3px 7.5px 0px #00000079;

  display: flex;
  align-items: center;
  justify-content: center;

}

section .bloco .enviar span {
  width: 82px;
  height: 24px;
  opacity: 1;
  top: 18px;
  left: 138px;

  font-family: var(--font-family-Inter);
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  letter-spacing: 0%;
  text-transform: uppercase;

  color: var(--font-color-3);

}

section .bloco .recuperar-senha {
  margin-top: 15px;

  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;

}

section .bloco .recuperar-senha span {
  width: 171px;
  height: 24px;
  opacity: 1;
  top: 650px;
  left: 128px;

  font-family: var(--font-family-Poppins);
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;

  color: var(--font-color-3);

}

section .bloco .criar-conta {
  margin-top: 130px;

  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;

}

section .bloco .criar-conta span {
  width: 300px;
  height: 24px;
  opacity: 1;
  top: 804px;
  left: 64px;

  font-family: var(--font-family-Poppins);
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;

  color: var(--font-color-3);

}

section .bloco .criar-conta span .link {
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;

}
