<section>
  <div class="background">
    <img src="img/logo_background.svg" alt="Logo Background" />
  </div>
  <div class="bloco">
    <div class="logo">
      <img src="img/logo.svg" alt="Logo" />
    </div>
    <div class="inputs">
      <div class="input">
        <input [(ngModel)]="this.user.nome" type="text" placeholder="Nome" />
      </div>
      <div class="input">
        <input [(ngModel)]="this.user.username" type="text" placeholder="Usuário" />
      </div>
      <div class="input">
        <input [(ngModel)]="this.user.senha" type="password" placeholder="Senha" />
      </div>
    </div>
    <div class="enviar" (click)="register()" >
      <span>Cadastrar</span>
    </div>
    <div class="recuperar-senha">
      <span>Esqueci minha senha</span>
    </div>
    <div class="criar-conta">
      <span>Ja tem conta? <a routerLink="/login">Entrar</a></span>
    </div>
  </div>
</section>
