section {
  width: calc(241px - 36px);
  height: 315px;
  opacity: 1;
  gap: 10px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 12px;
  padding-left: 8px;
  border-radius: 8px;
  border-width: 1px;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;

  border: 1px solid #EEEEEE;

  box-shadow: 0px 3px 3px 0px #00000029;

}

section .img {
  width: 100%;
  height: auto;

}

section .img img {
  width: 100%;
  height: auto;

}

section .titulo {
  margin: 0px 16px;

  font-family: var(--font-family-Inter);
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;

  color: var(--font-color-1);

}

section .texto {
  margin: 0px 16px;

  font-family: var(--font-family-Inter);
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;

  color: var(--font-color-1);

}

section .botoes {
  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 8px;

}

section .reservar {
  width: 100%;
  min-height: 40.67px;
  max-height: 40.67px;
  opacity: 1;
  border-radius: 8px;

  background-color: var(--background-3);

  box-shadow: 0px 3px 7.5px 0px #00000079;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

}

section .reservar span {
  font-family: var(--font-family-Inter);
  font-weight: 700;
  font-style: Bold;
  font-size: 12px;
  letter-spacing: 0%;
  text-transform: uppercase;

  color: var(--font-color-3);

}

section .finalizar {
  background-color: var(--background-4);
}

section .status, section .status span {
  cursor: auto;
}


