<section>
  <div class="background">
    <img src="img/logo_background.svg" alt="Logo Background" />
  </div>
  <div class="bloco">
    <div class="logo">
      <img src="img/logo.svg" alt="Logo" />
    </div>
    <div class="inputs">
      <div class="input">
        <input [(ngModel)]="this.user.username" type="text" placeholder="Username" />
      </div>
      <div class="input">
        <input [(ngModel)]="this.user.senha" type="password" placeholder="Senha" />
      </div>
      <div class="input">
        <input [(ngModel)]="this.user.confirmarSenha" type="password" placeholder="Confirmar Senha" />
      </div>
    </div>
    <div class="enviar" (click)="atualizarSenha()" >
      <span>Atualizar</span>
    </div>
    <div class="criar-conta">
      <span>Lembrou a senha? <a routerLink="/login">Entrar</a></span>
    </div>
  </div>
</section>
