<section>
  <div class="bloco">
    <div class="perfil">
      <div class="img">
        <img src="img/perfil.svg" alt="Perfil" />
      </div>
      <span>Olá, {{nome}}</span>
    </div>
    <div class="pesquisa">
      <div class="seach">
        <div class="icone">
          <img src="icon/search.svg" alt="Search" />
        </div>
        <input type="search" placeholder="Buscar carro" (input)="getAllVeiculosByNome($event)" />
      </div>
      <div class="filtro">
        <div class="icone">
          <img src="icon/filtro.svg" alt="Filtro" />
        </div>
        <span>Filtrar</span>
      </div>
    </div>
    <div class="reservas">
      <h1>Ultimas reservas</h1>

      <div class="historico">
        @for (veiculo of historico; track $index) {
          <app-card
            [veiculo]="veiculo"
            (statusReserva)="receberStatusReserva($event)"
          ></app-card>
        }
      </div>

      <h1>Carros disponíveis</h1>

      <div class="historico">
        @for (veiculo of veiculos; track $index) {
          <app-card
            [veiculo]="veiculo"
            (idVeiculo)="receberIdVeiculo($event)"
          ></app-card>
        }
      </div>
    </div>
  </div>
  <div class="background"></div>
</section>
<!-- <app-footer></app-footer> -->
